127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Network Equipment
{% for group, device in rancid_network_devices.iteritems() %}
{% for item in device if item.hosts_entry is defined and item.hosts_entry %}
{{ item.ip }}   {{ item.name }}
{% endfor %}
{% endfor %}
