# rancid 2.3.8
# {{ ansible_managed }}
TERM=network;export TERM
LC_COLLATE="POSIX"; export LC_COLLATE
umask {{ rancid_umask }}
TMPDIR={{ rancid_tmpdir }}; export TMPDIR
BASEDIR={{ rancid_home }}; export BASEDIR
PATH=/usr/libexec/rancid:/usr/bin:/usr/sbin:/bin:/usr/local/bin:/usr/bin; export PATH
CVSROOT=$BASEDIR/CVS; export CVSROOT
LOGDIR={{ rancid_home }}/logs; export LOGDIR
RCSSYS=git-remote; export RCSSYS
{% if rancid_aclsort is defined and rancid_aclsort != "" %}
ACLSORT={{ rancid_aclsort }}; export ACLSORT
{% endif %}

{% if rancid_nopipe is defined and rancid_nopipe != "" %}
NOPIPE={{ rancid_nopipe }}; export NOPIPE
{% endif %}

FILTER_PWDS={{ rancid_filter_pwds }}; export FILTER_PWDS
NOCOMMSTR={{ rancid_nocommstr }}; export NOCOMMSTR
MAX_ROUNDS={{ rancid_maxrounds }}; export MAX_ROUNDS
OLDTIME={{ rancid_oldtime }}; export OLDTIME
LOCKTIME={{ rancid_locktime }}; export LOCKTIME
PAR_COUNT={{ rancid_par_count }}; export PAR_COUNT
LIST_OF_GROUPS="{{ rancid_list_of_groups }}"; export LIST_OF_GROUPS
{% if rancid_maildomain is defined and rancid_maildomain != "" %}
MAILDOMAIN="{{ rancid_maildomain }}"; export MAILDOMAIN
{% endif %}

HTMLMAILS={{ rancid_htmlmails }}; export HTMLMAILS
{% if rancid_mailheaders is defined and rancid_mailheaders != "" %}
MAILHEADERS="{{ rancid_mailheaders }}"; export MAILHEADERS
{% endif %}

